@charset "utf-8";

@import "./styles.scss";

.wrap-info {
    flex-wrap: wrap;
}

.center-col {
    display: flex !important;
    justify-content: center;
    text-align: center;
}

.tech-images {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anime-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.button-show {
    margin-top: 4%;
}

.mal-name {
    font-size: 4em;
    text-align: center;
}

.anime-content {
    flex-direction: column;
    align-items: center;
}