@charset "utf-8";

@import "./styles.scss";

.footer-text {
    color: $white;
}

a.footer-text {
    color: white;
}

p.footer-text {
    border-top: 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-image {
    margin-left: 0.5em;
    margin-right: 0.5em;
}