@charset "utf-8";

@import "./styles.scss";

.leagueTitle {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.125;
    color: $white;
}

.winLoss {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.125;
    color: $white;
}

.leagueSubtitle {
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 300;
    color: $white;
}

.matchStat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.allPadding {
    padding: 1rem 1rem 1rem 1rem;
}

.centerFlex {
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}
