@charset "utf-8";

@import "./styles.scss";

.nav-dropdown {
    background-color: $blue;
}

.nav-home {
    justify-content: space-between;
}

.nav-shadow {
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.05),inset 0 -1px 0 rgba(0,0,0,0.15);
}